# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#this program's executable
gf2d

#logs
*.log

#visual studio folder
*.vs/

#x64 folder
x64/

# temp files
*.user

# make
makefile.dep

# cache
.cache/
src/.cache

# compile_commands.json
compile_commands.json
src/compile_commands.json

# kate-related
src/.fly-enemy.cpp.kate-swp
src/.world.c.kate-swp
src/.fly_enemy.cpp.kate-swp
